In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = 'https://cdn.marschannels.com/files/feed/omjwr7pvui.xml'

In [ ]:
reqs = requests.get(url)

In [ ]:
soup = BeautifulSoup(reqs.text, 'html.parser')

In [ ]:
duration = []

for link in soup.find_all('media:content'):
  duration.append(link.get('duration'))

In [ ]:
print(duration)

['725', '1810', '7030', '1326', '5383', '1768', '5712', '643', '3917', '6048', '1645', '1238', '5314', '1303', '2460', '3936', '1351', '230', '1164', '983', '1404', '5506', '923', '1974', '1603', '667', '1384', '906', '1935', '268', '947', '5176', '5456', '637', '990', '1760', '2532', '1472', '802', '1759', '6213', '1527', '1271', '2153', '1663', '3697', '1376', '1240', '1347', '1361', '1327', '742', '2059', '938', '1352', '399', '643', '1538', '1372', '134', '6625', '2062', '368', '535', '1923', '6318', '6111', '1612', '2028', '6663', '4919', '300', '2790', '1003', '594', '300', '1203', '1788', '1103', '1448', '1441', '2157', '1525', '1251', '5658', '7030', '1775', '4388', '1312', '2288', '2089', '1899', '1173', '6096', '572', '5643', '1869', '1309', '1127', '5513', '1528', '554', '398', '1363', '1264', '2223', '1834', '884', '1191', '283', '2201', '629', '6691', '368', '1433', '1011', '7490', '1333', '1230', '693', '1308', '1276', '5173', '300', '1302', '1787', '2068', '1500', '6111', '600', '6984', '33', '5210', '598', '709', '985', '296', '1586', '1328', '2237', '1324', '1268', '4418', '714', '1231', '266', '1765', '1413', '553', '1492', '5611', '4134', '1328', '6886', '2484', '598', '493', '153', '1061', '1414', '5748', '5415', '1864', '1563', '1536', '4581', '1368', '330', '6889', '1274', '2183', '1826', '144', '1457', '584', '330', '1762', '5564', '573', '466', '6545', '7696', '563', '1923', '2250', '6407', '2391', '57', '320', '641', '2106', '846', '2966', '5592', '1297', '1044', '1437', '2699', '1784', '1388', '1838', '1287', '1449', '4246', '4850', '1914', '546', '1158', '1340', '487', '1373', '1714', '1244', '3453', '590', '1275', '4803', '1276', '1505', '4185', '6133', '1262', '1325', '1509', '2511', '5569', '6889', '1515', '440', '557', '1496', '1447', '6886', '1525', '314', '2986', '1998', '495', '2023', '1855', '579', '720', '496', '15394', '1336', '423', '5730', '360', '379', '11539', '2936', '355', '6648', '1495', '2028', '123', '245', '843', '418', '3090', '1314', '1415', '1508', '697', '1966', '1490', '4749', '240', '421', '5572', '376', '1284', '2811', '4628', '5557', '2262', '6367', '4787', '3969', '3325', '4973', '4200', '4218', '7766', '1396', '4109', '2336', '4801', '3670', '5364', '1546', '3806', '3718', '4528', '3914', '6667', '1951', '683', '74', '74', '74', '74', '74', '320', '74', '6890', '74', '74', '297', '6510', '74', '74', '74', '74', '316', '320', '308', '312', '74', '74', '328', '74', '6354', '74', '74', '74', '74', '320', '320', '74', '311', '74', '316', '312', '279', '74', '281', '74', '300', '320', '74', '313', '74', '308', '293', '314', '74', '4216', '5441', '6816', '3620', '6816', '4157', '5241', '4439', '3743', '5054', '6781', '4762', '1553', '1475', '523', '1489', '1585', '6007', '945', '1475', '535', '3575', '1499', '1710', '1543', '1710', '1710', '6545', '1529', '1480', '1432', '6258', '996', '1570', '1016', '3576', '3119', '4618', '968', '1711', '1709', '848', '989', '1521', '5331', '1763', '1521', '1560', '1500', '1710', '1474', '900', '5135', '1595', '1099', '1553', '1477', '1709', '944', '1495', '6862', '1522', '1484', '1528', '3403', '1519', '1513', '1533', '1710', '999', '3822', '874', '1710', '1709', '1279', '1710', '463', '1044', '1545', '908', '3566', '1709', '985', '941', '3060', '965', '6769', '1561', '1532', '1503', '1518', '1710', '3581', '5510', '5844', '1536', '490', '1574', '944', '1491', '5464', '5249', '5124', '6228', '5598', '4974', '7005', '5656', '7474', '5686', '4390', '5242', '4680', '4625', '4382', '3379', '3849', '5377', '4555', '6085', '4453', '5876', '4262', '5123', '4970', '3862', '5472', '3217', '5509', '3809', '2717', '5413', '4329', '4466', '4412', '1662', '1500', '1528', '4761', '614', '1564', '983', '1527', '1495', '1763', '1528', '1505', '1549', '1493', '538', '482', '514', '1550', '1533', '468', '501', '6300', '1536', '365', '1519', '1554', '1525', '1509', '1481', '1528', '1293', '5780', '398', '1560', '401', '1822', '1539', '1521', '1538', '1461', '1610', '501', '477', '1616', '5894', '6017', '524', '1543', '1488', '410', '493', '5450', '5296', '1493', '546', '1508', '1488', '1528', '1478', '517', '1511', '1799', '1478', '1541', '1563', '1553', '1822', '1516', '1513', '1053', '1500', '5494', '1530', '463', '531', '1509', '494', '1493', '1543', '487', '3799', '1762', '1504', '1446', '1757', '1418', '1481', '2757', '459', '628', '1279', '6156', '1539', '1501', '453', '5896', '9154', '353', '516', '378', '5485', '1525', '541', '1673', '1557', '1519', '1541', '1553', '1513', '7149', '1523', '1535', '1551', '1553', '6139', '436', '1496', '438', '1496', '1531', '1551', '1556', '427', '1512', '899', '1515', '1547', '5125', '1503', '5770', '1527', '460', '1525', '1520', '1526', '1462', '1565', '1774', '2017', '1509', '1509', '4219', '442', '1325', '1299', '1676', '1509', '2350', '1509', '1191', '2480', '1217', '1320', '1806', '1321', '1511', '1849', '3794', '1509', '1314', '1323', '1299', '1325', '1323', '1503', '1314', '1905', '1320', '1329', '1228', '1509', '1524', '1130', '1325', '2681', '1312', '1325', '2404', '1509', '1325', '102', '242', '145', '102', '161', '197', '142', '110', '137', '102', '170', '116', '140', '174', '858', '135', '98', '149', '127', '142', '110', '203', '149', '155', '155', '134', '114', '197', '120', '109', '242', '159', '211', '121', '110', '158', '149', '217', '212', '146', '124', '134', '134', '103', '146', '158', '146', '158', '111', '158', '134', '146', '150', '146', '134', '160', '134', '165', '1514', '339', '250', '1515', '328', '1557', '450', '1504', '320', '519', '1514', '457', '1515', '344', '1514', '314', '1515', '479', '712', '302', '209', '1763', '675', '1350', '592', '532', '524', '1521', '1514', '284', '1514', '1515', '303', '1514', '354', '243', '470', '1514', '1753', '443', '324', '1635', '573', '368', '149', '1508', '1514', '1655', '1514', '1720', '204', '1736', '827', '146', '1623', '1514', '173', '277', '164', '1350', '1594', '349', '232', '1514', '1781', '325', '1514', '1723', '428', '551', '1514', '187', '1680', '1504', '243', '480', '1492', '297', '1514', '178', '1514', '1514', '1710', '1466', '1709', '1709', '1710', '1325', '1709', '1324', '1456', '1333', '671', '1403', '1325', '1327', '1327', '1709', '1370', '1502', '1325', '1327', '1710', '1710', '1325', '1710', '1709', '1710', '1709', '1577', '1710', '1710', '1710', '1710', '1603', '1709', '1694', '1709', '1505', '1327', '1327', '5905', '1709', '5619', '5018', '4382', '6562', '6220', '6862', '2963', '1556', '1361', '1324', '1503', '2971', '671', '1325', '1550', '3060', '1327', '1530', '1361', '2966', '1325', '2964', '1325', '1526', '2969', '1327', '2956', '2961', '6043', '2962', '1561', '2960', '1325', '5614', '2962', '2966', '3581', '2970', '1530', '6663', '1511', '2965', '3566', '1489', '2967', '1504', '2978', '1341', '2958', '2967', '1327', '1530', '2968', '1345', '2963', '1560', '1325', '1528', '2930', '2930', '1327', '1541', '2971', '3575', '1333', '3119', '2955', '2972', '1528', '2963', '1358', '1559', '1327', '1329', '1349', '1349', '1349', '1349', '1349', '1349', '1349', '1349', '1349', '1349', '1349', '1349', '1349', '1349', '1394', '11543', '3681', '3211', '5623', '6116', '5426', '10452', '6002', '5583', '4448', '8165', '6815', '5227', '5216', '5369', '4636', '3688', '515', '536', '571', '6087', '6836', '5035', '6096', '5113', '4955', '5090', '559', '5700', '5741', '5156', '3606', '6393', '4217', '5919', '5708', '5677', '7002', '6578', '2083', '6949', '4812', '7636', '992', '959', '2581', '1569', '2884', '2310', '679', '4066', '2866', '908', '1629', '3915', '1892', '931', '662', '1889', '3686', '899', '724', '3511', '4574', '1658', '864', '2840', '893', '874', '741', '685', '3134', '1920', '2997', '1455', '7592', '1279', '1312', '1191', '5668', '1154', '1272', '1392', '3037', '1338', '1420', '5914', '303', '1708', '4812', '5737', '5972', '5706', '4710', '4635', '303', '5192', '6946', '7050', '5650', '5530', '5713', '5669', '6022', '4457', '3144', '5425', '4805', '119', '119', '119', '119', '119', '122', '119', '119', '122', '119', '119', '119', '119', '119', '119', '119', '119', '119', '122', '119', '119', '119', '119', '119', '119', '119', '119', '123', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '125', '119', '119', '119', '119', '119', '119', '118', '119', '119', '119', '119', '119', '114', '119', '119', '119', '122', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '120', '119', '119', '119', '119', '126', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '118', '118', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '119', '1711', '1710', '1706', '1709', '1711', '1711', '1710', '1709', '1711', '1711', '1711', '1709', '1711', '1710', '1709', '1711', '1540', '633', '2302', '2582', '1932', '654', '1951', '2444', '694', '1200', '2066', '2110', '1637', '637', '5216', '2104', '369', '386', '1043', '1003', '363', '401', '372', '367', '364', '430', '418', '1286', '962', '879', '1306', '402', '372', '364', '361', '380', '1298', '381', '430', '384', '368', '1349', '1349', '1353', '1349', '5225', '6085', '585', '446', '753', '920', '592', '733', '671', '142', '456', '104', '462', '308', '295', '6628', '4636', '5616', '5092', '6140', '5388', '4519', '5230', '6268', '6782', '4744', '238', '134', '140', '273', '121', '111', '230', '114', '135', '165', '231', '95', '132', '174', '207', '245', '96', '468', '0', '457', '1382', '1382', '1383', '1382', '1383', '1382', '1383', '1382', '1383', '1383', '1382', '1382', '4891', '4389', '5166', '5608', '4793', '5038', '4196', '5464', '5085', '5305', '5038', '5064', '5464', '5448', '4811', '5293', '5299', '5204', '3358']

In [ ]:
# create dataframe

duration = pd.DataFrame({"duration":duration})

In [ ]:
duration.head()

  duration
0      725
1     1810
2     7030
3     1326
4     5383

In [ ]:
duration.to_csv('/content/drive/MyDrive/castify/duration.csv',index=None)

In [ ]:
pd.read_csv('/content/drive/MyDrive/castify/duration.csv')

      duration
0          725
1         1810
2         7030
3         1326
4         5383
...        ...
1299      4811
1300      5293
1301      5299
1302      5204
1303      3358

[1304 rows x 1 columns]